/*Tama{o de la fuente del html en general*/
 $htmlfontzize:90%;

 /*Background del body*/
 $bodybackground: linear-gradient(220deg, rgba(232, 236, 19, 0.6), rgba(225, 0, 255, 0.6), rgba(0, 255, 85, 0.6)),url(../img/tomb-raider-3838414_1920.jpg);
  /*Background del header*/
 $headerbackground:linear-gradient(280deg, rgba(234, 0, 255, 0.37), rgba(38, 203, 232, 0.479)),url(../img/cup-of-coffee-1280537_1920.jpg);

 $headerborder:0.5px solid rgba(255, 255, 0, 0.918);

 $ectionbackground: rgba(255, 0, 157, 0.4);

