// Clases utilitarias
/* .margin-top {
    margin-top: $espaciado;
  }
  
  .padding-right {
    padding-right: $espaciado;
  }
  
  .text-center {
    text-align: center;
  }
  
  // Clases de estado
  .active {
    background-color: #00ff00;
  }
  
  .disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  */
  