<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body class="bg-secondary">
<header id="header" class="mb-2 ">
    <nav class="navbar bg-black">
        <div class="container-fluid">
            <a class="navbar-brand text-primary " href="#">
                <img src="https://th.bing.com/th/id/R.8315cb308b890c7087edfc088043f572?rik=zu3C%2bAMcRbBn1A&pid=ImgRaw&r=0"
                     alt="Logo" width="130" height="60" class="d-inline-block ">
                Hello, world!
            </a>
        </div>
    </nav>
</header >

<div class="d-flex p-2 d-sm-flex d-md-flex flex-wrap">

<div class="card me-5 bg-transparent border-info align-self-center flex-sm-fill" style="width: 22rem;">
    <img src="https://th.bing.com/th/id/R.00dcd0749db55521227ef6ba5920d2f3?rik=II9jkZffL2LEvQ&pid=ImgRaw&r=0"
         class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title text-white">Que es Spring Boot </h5>
        <p class="card-text text-white">Spring Boot es una solución de desarrollo para proyectos basados en Spring que simplifica y agiliza la creación de servicios y aplicaciones web en Java. Proporciona una estructura configurada para el proyecto, incluyendo pautas de uso del framework y bibliotecas de terceros relevantes. Spring Boot se encarga de tareas como configuración de dependencias y despliegue, permitiendo crear aplicaciones autocontenidas de manera eficiente. En resumen, es una herramienta que reduce la complejidad del desarrollo en el entorno de Java y Spring.</p>
    </div>
</div>

<div id="carouselExample" class="carousel slide mt-5 bg-transparent align-self-center flex-sm-fill"  style="width: 60%">
    <div class="carousel-inner"   >
        <div class="carousel-item active" >
            <img src="https://3.bp.blogspot.com/-B9lHHjrjniI/WxXwCq8RgAI/AAAAAAAALgw/F-r1o6vJHTgG9BOt2tIfcijItgw-jbMEwCEwYBhgL/w1200-h630-p-k-no-nu/spring%2Bboot%2Barchitecture.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://1.bp.blogspot.com/-Y_BN4uy7KNs/XyLD1zF3vXI/AAAAAAAAIEg/jl2sSGUIW1s0QkntvYKJmwk-YbMyRlgwQCLcBGAsYHQ/d/ReactJS%2B%252B%2BSpring%2BBoot%2BCRUD%2BFull%2BStack.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://th.bing.com/th/id/R.5b8cdb6bb49e40a9e186c9d9904c98eb?rik=51gN%2bZw0y%2bypRw&pid=ImgRaw&r=0" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>
</html>